.skillwrapper {
  margin-top: 5rem;
}

.main {
  max-width: 1100px;
  margin: 0 auto;
}
.skills {
  width: 100%;
  text-align: center;
  background-color: var(--clr-bg);
  height: 65vh;
}

.skills > div {
  width: 11%;
  height: 16vh;
  max-height: 140px;
  box-shadow: var(--shadow);
  z-index: 1;
  border-radius: 15px;
  margin: 2.5%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease 0s;
}
.skills > div:hover {
  background-color: var(--clr-bg);
  overflow: hidden;
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.36) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.skills > div > svg {
  font-size: 8vh;
  color: var(--clr-primary);
}
.skills > div > h5 {
  position: relative;
  top: 8px;
}

@media (max-width: 768px) {
  .skills > div {
    width: 15%;
  }
}

@media (max-width: 500px) {
  .skills {
    height: 100vh;
    overflow: scroll;
  }
  .skills > div {
    width: 30%;
    height: 18vh;
    margin: 1.5%;
    height: 110px;
  }

  .skills > div > svg {
    font-size: 6.5vh;
  }
  .skills > div > h5 {
    font-size: 0.9rem;
  }
}

@media (max-width: 350px) {
  .skills > div {
    width: 38%;
    margin-left: 1.5rem;
  }
}
